@import '../common/variables.scss';

.menu-container {
    height: 100%;
    width: 75vw;
    background-color: $theme-light;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    .profile-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 15px;
        background-color: #eee1ac8c;

        .profile-name {
            font-size: 18px;
            margin-top: 12px;
            color: $theme-primary;
        }
    }

    .link-container {
        padding: 15px;
    }
}

.bottom-border {
    border-bottom: 1px solid $overlay-color;
}
