@import '../variables.scss';

.searchbar-container {
    position: relative;
    margin: 0 30px;
    flex: 1;
    overflow: hidden;
    display: flex;

    .searchbar {
        width: 100%;
        border: none;
        outline: none;
        border-bottom: 1px solid $brown-gray;
        color: $short-text-color;
        direction: rtl;
        padding: 6px 5px;

        &::placeholder {
            color: $brown-gray;
            opacity: 0.75;
        }

        &:focus {
            outline: none;

            & ~ .bottombar {
                width: 100%;
            }
        }
    }

    .bottombar {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 0;
        height: 0;
        border: none;
        border-bottom: 1px solid $theme-primary;
        transition: all ease 0.2s;
    }
}
