@import '../../common/variables.scss';

.card {
    width: 100%;
    padding: 8px 15px;
    display: flex;
    align-items: center;
    width: 100%;
    background-color: $theme-light;
    overflow: hidden;

    .description {
        flex: 1;
        padding-left: 20px;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        justify-content: space-between;

        .name {
            transition: color 0.2s linear;
        }
    }

    .follow-button {
        width: 125px;
        height: 30px;
        border: 1px solid $theme-light-primary;
        border-radius: 15px;
        overflow: hidden;
        color: $theme-light-primary;
        transition: all 0.2s linear;

        &:hover {
            color: $theme-light;
        }
    }

    .un-follow-button {
        width: 125px;
        height: 30px;
        border-radius: 15px;
        overflow: hidden;
    }
}

.link {
    cursor: pointer;
    flex: 1;
    display: flex;
    align-items: center;

    &:hover {
        * {
            color: $gray;

            &.name {
                color: $theme-secondary;
            }
        }
    }
}
