@import '../common/variables.scss';

.comment-list-container {
    width: 100%;
    padding: 10px 20px;
    background-color: $theme-light;

    .comment-list-wrapper {
        width: 100%;
        margin-top: 8px;

        .comment-container {
            width: 100%;
            border-top: 1px solid $silver-gray;

            &.reply {
                border-top: none;
            }

            .comment-header {
                width: 100%;
                padding: 8px 0;
                display: flex;
                align-items: center;
                justify-content: space-between;

                .comment-author {
                    display: flex;
                    align-items: center;
                }
            }

            .comment-text {
                padding: 0 10px;
            }

            .reply-comment {
                cursor: pointer;
                margin: 10px 0 10px 25px;
                color: $gray;
                transition: color 0.2s linear;

                &:hover {
                    color: $theme-secondary;
                }
            }
        }
    }
}

.comment-modal-container {
    background-color: $theme-light;
    overflow: hidden;
    border-radius: 10px;
    width: 500px;
    min-height: 450px;

    @media screen and (max-width: 991px) {
        border-radius: 0;
        width: 100vw;
        height: 100vh;
    }

    .modal-header {
        width: 100%;
        padding: 10px 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include shadow;

        .close-modal {
            transition: color 0.2s linear;
            transform: scale(1.8);
            cursor: pointer;

            &:hover {
                color: $theme-secondary;
            }
        }
    }

    .comment-form {
        width: 100%;
        padding: 15px 30px;

        .comment-input-container {
            display: flex;
            width: 100%;

            .comment-input {
                margin-left: 30px;
                margin-top: -15px;
                flex: 1;
            }
        }

        .submit-comment-container {
            margin-top: 40px;
            border-radius: 30px;
            overflow: hidden;
            position: relative;
            height: 50px;
            width: 75%;
            margin-right: auto;
            margin-left: auto;
        }
    }
}
