@import '../common/variables.scss';

.container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 8px 20px;
    z-index: 2;
    background-color: $theme-light;

    @include shadow;

    @media screen and (max-width: 991px) {
        padding: 8px 10px 8px 5px;
    }
}

.avatar-container {
    cursor: pointer;
    position: relative;
}
