@import '../common/variables.scss';

.container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 8px 20px;
    z-index: 2;
    background-color: $theme-light;

    @include shadow;

    @media screen and (max-width: 991px) {
        padding: 8px 10px 8px 5px;
    }
}

.avatar-container {
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;

    .notification-container {
        position: relative;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 20px;
        transition: background-color 0.2s linear;

        &:hover {
            background-color: $background-color;
        }
    }
}

.badge-container {
    color: $gray;
}

.result-container {
    width: 100% !important;
}
