@import '../../common/variables.scss';

.card-container {
    background-color: $theme-light;
    width: 100%;
    padding: 10px 15px;
    display: flex;
    align-items: center;

    .notification-text-container {
        flex: 1;
        margin-left: 15px;
        display: flex;
        align-items: center;

        .post-link {
            transition: color 0.2s linear;

            &:hover {
                color: $theme-secondary;
            }
        }
    }
}
