@import './variables.scss';

#reddit-logo {
    display: flex;
    align-items: center;
    cursor: pointer;
    width: max-content;

    .reddit-avatar {
        height: 55px;

        @media screen and (max-width: 991px) {
            height: 50px;
        }
    }

    .logo-text {
        color: $gray;
        font-weight: bold;
        font-size: 25px;
        margin-left: 5px;
    }
}

.avatar {
    border-radius: 50%;
    transition: transform 0.2s linear;

    &.link:hover {
        transform: scale(1.1);
    }
}
