@import './variables.scss';

#reddit-logo {
    display: flex;
    align-items: center;
    cursor: pointer;
    width: max-content;

    .avatar {
        height: 55px;

        @media screen and (max-width: 991px) {
            height: 50px;
        }
    }

    .logo-text {
        color: $gray;
        font-weight: bold;
        font-size: 25px;
        margin-left: 5px;
    }
}
