$theme-light: #fff;
$gray: #4a4a4a;
$silver-gray: #777;
$brown-gray: #b6a885;
$short-text-color: #7c6a46;
$theme-primary: #ff6265;
$theme-secondary: #c2b526;
$overlay-color: #555c;
$background-color: #f1efea;

@mixin shadow {
    box-shadow: 0 0 6px 1px $brown-gray;
}
